<div class='messageContainer'>
    <div class='messageFirstRow'> 
        <div class='messageUser'>{{email}}</div>

        <div class='dateContainer'>
            <div class='messageDate'>{{date}}</div>
            <div class='messageDate'>{{time}}</div>
        </div>
    </div>

    <div class='messageText'>{{message}}</div>
    
</div>