<form class="formContainer" action="/productos" method="post">

    <div class="form-group formItem">
      <label for="title" class="formLabel">Nombre</label>
      <input type="text" class="form-control" name="title" aria-describedby="emailHelp" placeholder="Nombre" required>
    </div>

    <div class="form-group formItem">
      <label for="price" class="formLabel">Precio</label>
      <input type="number" class="form-control" name="price" placeholder="Precio" required>
    </div>

    <div class="form-group formItem">
        <label for="thumbnail" class="formLabel">Foto URL</label>
        <input type="text" class="form-control" name="thumbnail" placeholder="Foto URL" required>
      </div>

    <button type="submit" class="btn btn-primary submitButton">Agregar</button>
    
</form>