{{!-- <form>
    <input type="button" value="Volver" class="goBackButton" onclick="history.back()">
</form>

<h1><i>Vista de productos</i></h1>


<% if (isEmpty) { %>
    <p>No hay Productos</p>
<% }  else { %>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Imágen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(prd) { %>
                <tr>
                    <% let source = prd.thumbnail%>

                    <th scope="row"><%= prd.id %></th>
                    <td> <img src=<%=source%> class='tableImage'>  </td>
                    <td><%= prd.title %></td>
                    <td>$<%= prd.price %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% }  %> --}}